.photo-upload {
    max-width: 500px;
    margin: auto;
    color: #2f267d;
  }
  
  .photo-upload h2 {
    margin-bottom: 20px;
  }
  
  .photo-upload select,
  .photo-upload input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .photo-upload button {
    background-color: #f7c40f;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  